* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Don't give styling to body */
/* Don't use id */
/* kuldeep give your class name like navbar2 because i will use navbar 1 and nav1-items */

/* NAV 1 Vivek styling */
.navbar1 {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #252525;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* .brands {
  
} */
.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  color: rgb(205, 205, 205);
  padding: 2px 20px 2px 20px;
  border-right: 2px solid gray;
}
.nav-item-last {
  color: rgb(205, 205, 205);
  padding: 5px 20px 5px 20px;
}
.icons {
  font-size: 20px;
  margin: 0 15px 0 0px;
}
.heart {
  color: rgb(205, 205, 205);
  padding: 2px 10px 2px 20px;
  border-right: 2px solid gray;
  font-size: 20px;
  /* margin: 0 15px 0 0px; */
}
.nav1-logo {
  width: 42px;
}

/* NAV 2 kuldeeo styling */

.navbar2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 40px;
}

.navbar2 .logo img {
  width: 150px;
}

.navbar2 ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar2 .search input{
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  padding-block: 10px;
  font-size: 13px;
  font-weight: 500;
  padding-left: 25px;
}

.navbar2 .btn {
  background: #c40c2f;
  padding-inline: 30px;
  padding-block: 8px;
  border-radius: 30px;
}

.navbar2 .btn button {
  background: #c40c2f;
  outline: none;
  border: none;
  color: white;
  font-weight: 900;
}

/* Cards Arnab styling */
section .box .shoes {
  width: 300px;
}
section {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
section .box .i {
  color: #0C2340;
  margin: 10px 0;
  font-size: 13px;
}
section .box .ii {
  color: #0C2340;
  margin: 8px 0;
  font-size: 16px;
}
section .box .iii {
  color: #0C2340;
  font-size: 16px;
  font-weight: 600;
}
section .cont {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
section .box {
  position: relative;
}
section .box .symbol {
  position: absolute;
  top: 0;
  right: 0;
}
section .box .banner {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(285deg, rgb(46, 164, 224), rgb(49, 198, 132)); 
  padding: 6px 8px;
  left: 0;
  top: 10px;
  border-radius: 0 3px 3px 0;
}