* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Don't give styling to body */
/* Don't use id */
/* kuldeep give your class name like navbar2 because i will use navbar 1 and nav1-items */

/* NAV 1 Vivek styling */

/* NAV 2 kuldeeo styling */

/* Cards Arnab styling */
